<form name="container-form" class="mt-4" method="POST" action="/courses/form-action">
    <div>
        <h3>My course</h3>
        <a href="/me/trash/courses">Thùng rác here</a>
    </div>


    <div class="mt-4 d-flex align-item-center">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
            <label class="form-check-label" for="checkbox-all">
                Check all
            </label>
        </div>
        <select class="form-control-sm checkbox-select-all-options" name="action" required>
            <option value="">---Your choose---</option>
            <option value="delete">Delete</option>
        </select>

        <button class="btn btn-primary btn-sn disabled btn-check-all">Excute!</button>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name course</th>
                <th scope="col">Level</th>
                <th scope="col">Create time</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each course}}
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">
                    </div>
                </td>
                {{!-- Xem file index o ngoai de xem lai ham sum --}}
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.flag}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-dark">Update</a>
                    <a href="#" class="btn btn-danger" data-toggle="modal" data-id="{{this._id}}"
                        data-target="#delete-Model">Delete</a>
                </td>
            </tr>

            {{!-- nếu vòng lặp ko có dữ liệu --}}
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    <h3>Chưa có khóa học gì cả!</h3>
                    <a href="/courses/create">Đăng khóa học ở đây</a>
                </td>
            </tr>

            {{/each}}

        </tbody>
    </table>
</form>


{{!-- Confirm Delete --}}
<div class="modal fade" id="delete-Model" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Xóa là vào thùng rác đó. Có chắc là muốn xóa chưa?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button id="btn-delete-course" type="button" class="btn btn-primary btn-danger">Delete !!!</button>
            </div>
        </div>
    </div>
</div>

{{!-- Form để xóa dữ liệu - Nó ẩn - action="/courses/{{course._id}}?_method=DELETE" --}}
<form method="post" name="delete-course-form-hidden"></form>

{{!-- Truyền dữ liệu để xóa --}}
<script>

    document.addEventListener('DOMContentLoaded', function () {

        //Khi dialog này chạy lên thì để tránh thiếu JQuery môi trường

        var coursesID;
        var deleteForm = document.forms['delete-course-form-hidden']
        var btnDeleteCourse = document.getElementById('btn-delete-course')

        //checkbox
        var checkboxAll = $('#checkbox-all')
        var courseItemCheckbox = $('input[name="courseIds[]"]')

        var checkAllSubmitBtn = $('.btn-check-all')

        //form tổng
        var containerForm = document.forms['container-form']

        $('#delete-Model').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            //Nhận dữ liệu từ form
            coursesID = button.data('id')
        })

        //Khi xác nhận bấm nút xóa
        btnDeleteCourse.onclick = function () {
            //thêm action cho form
            deleteForm.action = '/courses/' + coursesID + '?_method=DELETE'
            //Submit nội dung form nè
            deleteForm.submit()
        }

        //checkbox check all click
        checkboxAll.change(function () {
            var isCheckedAll = $(this).prop('checked')
            courseItemCheckbox.prop('checked', isCheckedAll)
            renderCheckAllSubmitBtn()
        })

        //Check Item checkbox change
        courseItemCheckbox.change(function () {
            var isCheckedAll = courseItemCheckbox.length == $('input[name="courseIds[]"]:checked').length
            checkboxAll.prop('checked', isCheckedAll)
            renderCheckAllSubmitBtn()
        })

        //Button submit checkALL clicked
        checkAllSubmitBtn.on('submit',function(e){
            var isSumbitAble = $(this).hasClass('disabled')
            if(isSumbitAble){
                e.preventDefault()
            }
        })

        //Mở khóa button excute
        function renderCheckAllSubmitBtn() {
            var checkCount = $('input[name="courseIds[]"]:checked').length
            if (checkCount > 0) {
                checkAllSubmitBtn.removeClass('disabled')
            } else {
                checkAllSubmitBtn.addClass('disabled')
            }
        }
    })
</script>